@import "../../sass/main";

td,
th {
  border: 1px solid $gray-100;
  text-align: left;
  padding: 8px;
  font-size: 1.3rem;
  img {
    width: 15px;
    height: 15px;
    cursor: pointer;
  }
}
th {
  font-size: 1.7rem;
}
