@import "../../sass/main";

.movies__list {
  width: 80%;
  margin: 2rem auto;
  @media only screen and(max-width:1200px) {
    width: 100%;
  }

  table {
    font-family: "Roboto", sans-serif;
    border-collapse: collapse;
    width: 100%;
    th {
      font-size: 1.7rem;
      border: 1px solid $gray-100;
      text-align: left;
      padding: 8px;
    }
  }
}

.sort__arrows {
  margin-left: 1rem;
  display: inline;
  span {
    cursor: pointer;
    font-size: 1.3rem;
    &:hover {
      color: $blue-100;
    }
  }
}

.empty__message {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 3rem;
}
